<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.ldu.watercloud.mapper.ProjectMapper">
    <select id="selectUserById" parameterType="int" resultType="User">
        select *
        from user
        where id = #{id}
    </select>
    <select id="selectByUserAndUseWaterAndProject" resultType="ChargeDay">
        select project.projname as projectName,COUNT(*) as households,project.price as unitPrice
                ,sum(usewater.amount) as projectNumDay,sum(usewater.amount) * project.price as projectPriceDay,
               concat(usewater.year, LPAD(usewater.month,2,0), LPAD(usewater.day,2,0)) as time
        from project
        JOIN user ON project.id=user.projid
        JOIN usewater ON user.meterid=usewater.meterid
        GROUP BY project.id
    </select>
</mapper>