<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ldu.watercloud.mapper.UseWaterMapper">
    <select id="queryByQuarter" resultType="double">
        select amount from usewater
        where userid = 1;
    </select>
</mapper>